.contact-wrap{padding:48px 0 72px}
.contact-grid{
  display:grid; grid-template-columns: .9fr 1.1fr; gap:20px;
}
.contact-card .rowline{
  display:flex; align-items:center; gap:8px; margin:.4rem 0;
  a{color:var(--text)}
}
.contact-grid .contact-card{
  font-size: clamp(1.4rem, 1.2vw, 1.3rem);}
.contact-form .form-row{
  display:grid; grid-template-columns: 1fr 1fr; gap:18px; margin-bottom:14px;  background-color: rgb(113, 123, 124);
  label{font-size: 3.95 rem; color: antiquewhite;margin-bottom:4px; display:block}
}
.contact-form .form-column{
  display:flex; flex-direction:column; background-color: rgb(113, 123, 124);
  label{font-size: 2.95 rem; color: antiquewhite;margin-bottom:4px; display:block}
}

.contact-form .actions{display:flex; justify-content:flex-end; margin-top:10px;}
@media(max-width:900px){
  .contact-grid{grid-template-columns:1fr}
}
